<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Easy 6502 Labyrinth by tklein23</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="simulator/style.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Easy 6502<br>Labyrinth</h1>
        <p><em>by</em> <a href="https://github.com/tklein23">Thoralf Klein</a></p>
        <p class="view"><a href="https://github.com/tklein23/easy6502/tree/gh-pages">Fork me on GitHub</a></p>
        <ul>
          <li><a href="#intro">Introduction</a></li>
          <li><a href="#labyrinth-game">Labyrinth Game</a></li>
        </ul>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="simulator/es5-shim.js"></script>
    <script src="simulator/assembler.js"></script>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
